#emailBlock {
    margin-bottom: 10px;
    border-bottom: 1px solid black;
}

#emailBlockHeader {
    display: flex;
    justify-content: space-between;
    height: max-content;
}

#historyBlockHeader {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#historyBlockHeaderViewer {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.emergencyLevel {
    display: flex;
    width: 12vw;
    justify-content: center;
}

.caseOngoingStatus {
    color: red;
    /* width: 12vw */
}

.LOW {
    background-color: rgb(232, 244, 69);
    border-radius: 8px;
    padding: 4px;
    width: max-content;
    color: white;
}

.MEDIUM {
    background-color: rgb(244, 192, 69);
    border-radius: 8px;
    padding: 4px;
    width: max-content;
    color: white;
}

.HIGH {
    background-color: rgb(244, 133, 69);
    border-radius: 8px;
    padding: 4px;
    width: max-content;
    color: white;
}

.CRITICAL {
    background-color: rgb(244, 69, 69);
    border-radius: 8px;
    padding: 4px;
    width: max-content;
    color: white;
}

.status1 {
    color: rgb(97, 92, 28);
}

.status2 {
    color: rgb(189, 180, 54);
}

.status3 {
    color: rgb(194, 53, 53);
}

.status4 {
    color: rgb(69, 124, 244);
}

.status5 {
    color: rgb(43, 143, 48);
}

.status6 {
    color: rgb(50, 53, 50);
}

.serious {
    background-color: rgb(244, 69, 69);
    border-radius: 8px;
    padding: 4px;
    width: max-content;
    color: white;
}

.caseResolvedStatus {
    color: green;
    width: 12vw;
    display: flex;
    justify-content: center;
}

#buttonBlock {
    display: flex;
    margin-left: 12px;
    /* margin-top: 12px; */
    justify-content: end;
    width: 40vw;
}

#roleApplication {
    padding: 10px;
}

#viewThreatSectionHeader {
    display: flex;
    padding-left: 10px;
    align-items: center;
    justify-content: space-between;
}

.buttonsContainer {
    display: inline-block;
    /* justify-content: space-between; */
    width: 100vw;
    background: black;
    height: 200px;
}

.chat {
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}

.casesInfoHeader {
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

.casesInfoContainer {
    display: flex;
    justify-content: space-around;
}

.caseReportButton {
    background: orange;
    color: black;
    border-radius: 10px;
    padding: 4px;
    margin-right: 4px;
    text-decoration: none;
}

.caseDownloadButton {
    background: rgb(200, 240, 139);
    border-radius: 10px;
    padding: 4px;
    margin-right: 4px;
}

.commentFromContainer {
    width: 20vw;
}

.commentFromYou {
    background: rgb(253, 243, 104);
    color: black;
    border-radius: 10px;
    padding-left: 2px;
    padding-right: 2px;
    width: max-content;
}

.commentFromCitizen {
    background: rgb(198, 198, 198);
    color: black;
    border-radius: 10px;
    padding-left: 2px;
    padding-right: 2px;
    width: max-content;
}

.commentFromEditor {
    background: rgb(216, 247, 240);
    color: black;
    border-radius: 10px;
    padding-left: 2px;
    padding-right: 2px;
    width: max-content;
}

.commentFromApprover {
    background: rgb(253, 225, 172);
    color: black;
    border-radius: 10px;
    padding-left: 2px;
    padding-right: 2px;
    width: max-content;
}

.caseInfoLogger {
    display: flex;
    justify-content: space-around;
}

.caseReportButton a {
    text-decoration: none;
    color: black;
}

.logTopic {
    font-weight: bold;
}

.caseTopic {
    width: 36vw
}

.approvalApplicationButton {
    width: 10vw;
}

.accountInfo {
    padding-left: 5vw;
    width: 20vw;
    justify-content: center;
    font-size: 20px;
}

.approverButtonsContainer {
    margin: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.approverButtonsContainer div {
    margin-right: 10px;
}

.dropdown-menu-self {
    display: flex;
}

.hide {
    display: none;
}

#reportFormContainer {
    padding: 40px;
}

#dashboardButtonContainer {
    width: 100vw;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

#dashboardButtonContainer div {
    margin: 20px;
}


/* input[type="file"] {
    display: none;
} */

.customFileUpload {
    display: inline-block;
    width: 70px;
    text-align: center;
    align-items: center;
}

#fileList2 {
    min-height: 30px;
    display: flex;
}

.downloadContainer {
    display: flex;
    width: max-content;
    justify-content: space-around;
    align-items: center;
}

.downloadContainer div {
    margin-right: 40px;
}