#emailBlock {
    margin-bottom: 10px;
    border-bottom: 1px solid black;
}

#emailBlockHeader {
    display: flex;
    justify-content: space-between;
    height: max-content;
}

#historyBlockHeader {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#historyBlockHeaderViewer {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.emergencyLevel {
    width: 12vw
}

.caseOngoingStatus {
    color: red;
    /* width: 12vw */
}

.normal {
    background-color: rgb(244, 212, 69);
    border-radius: 8px;
    padding: 4px;
    width: max-content;
    color: white;
}

.serious {
    background-color: rgb(244, 69, 69);
    border-radius: 8px;
    padding: 4px;
    width: max-content;
    color: white;
}

.caseResolvedStatus {
    color: green;
}

#buttonBlock {
    display: flex;
    margin-left: 12px;
    /* margin-top: 12px; */
    justify-content: end;
    width: 40vw;
}

#roleApplication {
    padding: 10px;
}

#viewThreatSectionHeader {
    display: flex;
    padding-left: 10px;
    align-items: center;
    justify-content: space-between;
}

.buttonsContainer {
    display: inline-block;
    /* justify-content: space-between; */
    width: 100vw;
    background: black;
    height: 200px;
}

.chat {
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}

.casesInfoHeader {
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

.casesInfoContainer {
    display: flex;
    justify-content: space-around;
}

.caseReportButton {
    background: orange;
    color: black;
    border-radius: 10px;
    padding: 4px;
    margin-right: 4px;
    text-decoration: none;
}

.caseDownloadButton {
    background: rgb(200, 240, 139);
    border-radius: 10px;
    padding: 4px;
    margin-right: 4px;
}

.commentFromCitizen {
    background: rgb(198, 198, 198);
    color: black;
    border-radius: 10px;
    padding-left: 2px;
    padding-right: 2px;
    width: max-content;
}

.commentFromEditor {
    background: rgb(216, 247, 240);
    color: black;
    border-radius: 10px;
    padding-left: 2px;
    padding-right: 2px;
    width: max-content;
}

.commentFromApprover {
    background: rgb(253, 225, 172);
    color: black;
    border-radius: 10px;
    padding-left: 2px;
    padding-right: 2px;
    width: max-content;
}

.caseInfoLogger {
    display: flex;
    justify-content: space-around;
}

.caseReportButton a {
    text-decoration: none;
    color: black;
}

.logTopic {
    font-weight: bold;
}

.caseTopic {
    width: 36vw
}

.approvalApplicationButton {
    width: 10vw;
}