<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/editor.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <title>Administrator</title>
</head>

<body>
    {% extends "base.html" %} {% block content %}

    <p>
        <h2>
            <p class="text-center">Dutch National Police</p>
        </h2>

        <div class="text-center">
            <img src="{{url_for('static', filename='dutchpolice.png')}}" class="rounded mx-auto d-block" alt="Dutch Police logo">

        </div>
        <h2>
            <p class="text-center">Dashboard</p>
        </h2>

        <div id="reportFormContainer">

            <h4>Role Applications</h4>

            </nav>
            {% for roleApplication in roleApplications %}
            <ul class="list-group list-group-horizontal" style="padding:10px;justify-content: space-between;">
                <div style="width:50%">
                    <ul class="list-group list-group-horizontal">
                        <li class="list-group-item">{{roleApplication.User.first_name}} {{roleApplication.User.surname}}</li>
                        <li class="list-group-item">{{roleApplication.User.email}}</li>
                        <li class="list-group-item">{{roleApplication.UserRole.role}}</li>
                    </ul>
                </div>
                <div>
                    <a href="{{ url_for('approve_role_application', role_application_id=roleApplication.RoleApplication.id) }}">
                        <button type="button" class="btn btn-success">Approve</button>
                    </a>
                    <a href="{{ url_for('reject_role_application', role_application_id=roleApplication.RoleApplication.id) }}">
                        <button type="button" class="btn btn-danger">Reject</button>
                    </a>
                </div>
            </ul>
            {% endfor %}
        </div>


        </div>


        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
        {% endblock %}

</body>

</html>