<!doctype html> {% block content %}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <title>Registration</title>
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

    <div class="card text-center">
        <div class="card-header">
            <h1>Dutch National Police</h2>
                <p>
        </div>
        </p>

        <div class="card-body">
            <img src="static/uploads/dutchPolice.png" class="img-fluid-" alt="Dutch Police logo">
            <h3>Registration</h3>

            <form action="" method="post">
                {{ form.hidden_tag() }}


                <p>
                    {{ form.first_name.label }}<br> {{ form.first_name(size=25) }}<br> {% for error in form.first_name.errors %}
                    <span style="color: red;">[{{ error }}]</span> {% endfor %}
                </p>
                <p>
                    {{ form.surname.label }}<br> {{ form.surname(size=25) }}<br> {% for error in form.surname.errors %}
                    <span style="color: red;">[{{ error }}]</span> {% endfor %}
                </p>
                <p>
                    {{ form.email.label }}<br> {{ form.email(size=25) }}<br> {% for error in form.email.errors %}
                    <span style="color: red;">[{{ error }}]</span> {% endfor %}
                </p>
                <p>
                    {{ form.password.label }}<br> {{ form.password(size=25) }}<br> {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span> {% endfor %}
                </p>
                <p>
                    {{ form.password2.label }}<br> {{ form.password2(size=25) }}<br> {% for error in form.password2.errors %}
                    <span style="color: red;">[{{ error }}]</span> {% endfor %}
                </p>
<div class="card border-dark mb-3 mx-auto" style="max-width: 40rem">
  <div class="card-header"><b>Enabling Google Authenticator</b></div>
  <div class="card-body text-dark">
    <p class="card-text">
<p style="line-height:1.8">	
                        1) Download <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&hl=en&gl=US" target="_blank">Google Authenticator</a> on your mobile.</br>
                        2) Create a new account with <strong>setup key</strong> method.</br>
                        3) Enter a name of your choice and under <i>key</i> enter:</br>
						<b>{{ form.label }} {{secret}}</b></br>
                        4) Select time-based authentication.</br>
                        5)Submit the generated key below.</br>
						6) Wait for an account confirmation email to arrive.

  </div>
					  </div>
					                      {{ form.totp.label }}<br> {{ form.totp(size=32) }}<br> {% for error in form.totp.errors %}
                    <span style="color: red;">[{{ error }}]</span> {% endfor %}
			
<p></p>
					                <p>{{ form.submit() }}</p>
            </form>
			<a class aria-current="page" href="/">Already have an account? Login</a>
			
            {% endblock %}

</div>
</div>

										</p>
										

					
			</div>
			</div>



                	


</body>