<div id="emailBlock">
    {{comment}}
    <div id="emailBlockHeader">
        <div style="display:flex; justify-content: space-between; width: 50vw;">
            <div class="commentFromContainer">
                {% if comment.User.role_id == 1 %}
                <div class="commentFromCitizen">
                    From: {{comment.User.first_name}} {{comment.User.surname}} ({{comment.UserRole.role.lower()}})
                </div>
                {% elif comment.User.role_id == 3 %}
                <div class="commentFromEditor">
                    From: {{comment.User.first_name}} {{comment.User.surname}} ({{comment.UserRole.role.lower()}})
                </div>
                {% else %}
                <div class="commentFromApprover">
                    From: {{comment.User.first_name}} {{comment.User.surname}} ({{comment.UserRole.role.lower()}})
                </div>
                {% endif %}
            </div>
            <div>
                {{comment.Comment.created_at.strftime("Date: %m/%d/%Y")}}<br>
            </div>
            <div>
                {{comment.Comment.created_at.strftime("Time: %H:%M:%S")}}<br>
            </div>
        </div>
        <a type="button" href="{{ url_for('downloadCommentFile', comment_id=comment.Comment.id) }}">
            Download Attachments
            </a>
    </div>
    {{comment.Comment.comment}}
</div>