<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/editor.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <title>Editor</title>
</head>

<body>
    {% extends "base.html" %} {% block content %}
    <div class="casesInfoHeader">
        <div style="display: flex;">
            <div class="caseDownloadButton">
                <a href="{{ url_for('download_all_cases') }}">Download Case Logs as CSV <i class="fas fa-download"></i></a>
            </div>
        </div>
        <div class="casesInfoContainer">
            <div class="caseCount">New: {{caseCount.new_case}}</div>
            <div class="caseCount">Resolving: {{caseCount.resolving_case}}</div>
            <div class="caseCount">Resolved: {{caseCount.resolved_case}}</div>
            <div class="caseCount">Cancelled: {{caseCount.cancelled_case}}</div>
            <div class="caseCount">Rejected: {{caseCount.rejected_case}}</div>
        </div>
    </div>
    <div class="accordion" id="accordionPanelsStayOpenExample">
        {% for threat in threats|reverse %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingArr{{threat.Threat.id}}">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseArr{{threat.Threat.id}}" aria-expanded="false" aria-controls="collapseArr{{threat.Threat.id}}">
                    <div id="historyBlockHeader">
                        <div class="caseTopic">
                            {% if threat.ThreatStatus.id == 1 or threat.ThreatStatus.id == 6 %}
                                New Case Logged - {{threat.Threat.title}}
                            {% else %}
                                NCSC-{{'%04d' % threat.Threat.id}} - {{threat.Threat.title}}
                            {% endif %}
                        </div>
                        <div class="emergencyLevel">
                            <div class="{{threat.ThreatCategory.category}}">{{threat.ThreatCategory.category.title()}}</div>
                        </div>
                        <div class="caseResolvedStatus">
                            <div class="status{{threat.ThreatStatus.id}}">
                                {% if threat.ThreatStatus.status == "APPROVINGNEWCASE" %}
                                    <div>Approving</div><div>New Case</div>
                                {% elif threat.ThreatStatus.status == "APPROVINGENDCASE" %}
                                    <div>Approving</div><div>End Case</div>
                                {% else %}
                                    {{threat.ThreatStatus.status.title()}}
                                {% endif %}
                            </div>
                        </div>
                        <div id="buttonBlock"></div>
                    </div>  
                </button>
            </h2>
            <div id="collapseArr{{threat.Threat.id}}" class="accordion-collapse collapse" aria-labelledby="headingArr{{threat.Threat.id}}">
                <div class="accordion-body">
                    <div id="emailBlock">
                        <div id="emailBlockHeader">
                            <div style="display:flex; justify-content: space-between; width: 50vw;">
                                <div class="commentFromContainer">
                                    {% if threat.User.role_id == 3 %}
                                    <div class="commentFromEditor">
                                        From: {{threat.User.first_name}} {{threat.User.surname}} ({{threat.UserRole.role.lower()}})
                                    </div>
                                    {% else %}
                                    <div class="commentFromCitizen">
                                        From: {{threat.User.first_name}} {{threat.User.surname}} ({{threat.UserRole.role.lower()}})
                                    </div>
                                    {% endif %}
                                </div>
                                <div>
                                    {{threat.Threat.timestamp.strftime("Date: %m/%d/%Y")}}<br>
                                </div>
                                <div>
                                    {{threat.Threat.timestamp.strftime("Time: %H:%M:%S")}}<br>
                                </div>
                            </div>
                            <div class="downloadContainer">
                                <div>
                                    {% if threat.file_count > 1 %} Attachment ({{threat.file_count}} Files Zip) {% else %} Attachment ({{threat.file_count}} File) {% endif %}
                                </div>
                                <button class="fileDownloadButton" type="button">
                                    <a href="{{ url_for('download_threat_file', threat_id=threat.Threat.id) }}">Download</a>
                                </button>
                            </div>
                        </div>
                        <div class="logTopic">Description of the issue:</div>
                        <div class="caseInfoLogger">
                            <div style="width: 3vw">
                            </div>
                            <div style="width: 97vw">
                                {{threat.Threat.description}}
                            </div>
                        </div>
                        <div class="logTopic">Steps reproducing the issue:</div>
                        <div class="caseInfoLogger">
                            <div style="width: 3vw">
                            </div>
                            <div style="width: 97vw">
                                {{threat.Threat.reproduce_steps}}
                            </div>
                        </div>
                    </div>
                    {% for comment in comments %} {% if comment.Comment.threat_id == threat.Threat.id %}
                    <div id="emailBlock">
                        <div id="emailBlockHeader">
                            <div style="display:flex; justify-content: space-between; width: 50vw;">
                                <div class="commentFromContainer">
                                    {% if comment.User.role_id == 1 %}
                                    <div class="commentFromCitizen">
                                        From: {{comment.User.first_name}} {{comment.User.surname}} ({{comment.UserRole.role.lower()}})
                                    </div>
                                    {% elif comment.User.role_id == 3 %}
                                    <div class="commentFromEditor">
                                        From: {{comment.User.first_name}} {{comment.User.surname}} ({{comment.UserRole.role.lower()}})
                                    </div>
                                    {% else %}
                                    <div class="commentFromApprover">
                                        From: {{comment.User.first_name}} {{comment.User.surname}} ({{comment.UserRole.role.lower()}})
                                    </div>
                                    {% endif %}
                                </div>
                                <div>
                                    {{comment.Comment.created_at.strftime("Date: %m/%d/%Y")}}<br>
                                </div>
                                <div>
                                    {{comment.Comment.created_at.strftime("Time: %H:%M:%S")}}<br>
                                </div>
                            </div>
                            <div class="downloadContainer">
                                {% if comment.file_count == 0 %}
                                <div></div>
                                {% elif comment.file_count > 1 %}
                                <div>Attachment ({{comment.file_count}} Files Zip) </div>
                                <button class="fileDownloadButton" type="button">
                                    <a href="{{ url_for('download_comment_file', comment_id=comment.Comment.id) }}">Download</a>
                                </button> {% else %}
                                <div>Attachment ({{comment.file_count}} File)</div>
                                <button class="fileDownloadButton" type="button">
                                    <a href="{{ url_for('download_comment_file', comment_id=comment.Comment.id) }}">Download</a>
                                </button> {% endif %}
                            </div>
                        </div>
                        {{comment.Comment.comment}}
                    </div>
                    {% endif %} {% endfor %}
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
        {% endfor %}
    </div>
    {% endblock %}
</body>

</html>